{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/insectInformationPage.css") }}">
<link rel="stylesheet" href="{{ asset("css/components/promotion-card.css") }}">
{% endblock %}
{% block body %}
    <div class="container col-12 row m-0 p-0 information-system">
        <div class="col-12 m-0 p-0">
            <img src="{{ asset("images/insects/hlabarki.png") }}" alt="" class="insect-image">
        </div>
        <p class="text-center col-12 call-terminator-text">повикай унищожител</p>
        <div class="phoneNumberInformation justify-content-between row col-12 m-0 p-0">
            <div class="col-3 p-0 col-md-4 col-lg-4 m-0 " ><div class="right-to-left-line"></div></div>
            <p class="ml1 col-5 col-md-4 col-lg-4 text-center ">
                <i class="fas fa-phone-alt "></i>
                <span class="text-wrapper">
                <span class="letters ">  0897 555 751</span>
              </span>
            </p>
            <div class="col-3 col-md-4 col-lg-4 p-0 m-0 ">
                <div class="left-to-right-line"></div>
            </div>
        </div>
        <h1 class="text-center col-12 mt-1"> Пръскане срещу хлебарки</h1>
    </div>

    <div class="information-content col-12 m-0 p-0 row mt-5 justify-content-center ">
        <div class="col-11 mx-auto col-lg-6 col-md-6 mr-2">
            <img src="{{ asset("images/disectanct/disectanct-1.jpg") }}" alt="" class="disinfectant">
        </div>
        <div class="col-11 mt-sm-4 mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-5 ml-2">
            <p>
                <span >Същност и борба с хлебарките: </span><br>
                Пръскане против хлебарки се предлага от Унищожители, като услуга по дезинсекция под контрола на РЗИ ( бивше ХЕИ) и касае третиране на домашни помещения, заведения, хранителни и производствени обекти за унищожение на наличната в терена популация хлебарки. Извършваме еднократни обработки за пръскане против хлебарки, а също сключваме и абонаментни ДДД договори отговарящи на изискванията на РЗИ (бивше ХЕИ), агенцията по храните ДВСК и наредба №3 от министерство на здравеопазването (МЗ).
                Хлебарките са жилищни вредители. Те са много упорити и адаптивни, а с годините си създадоха устойчивост към голяма гама отрови. За успешно пръскане против хлебарки са необходими професионални мерки, с преценка на средата.
                Хлебарките нападат както места с недостатъчна хигиена, лоша канализация и сифони, така и чисти помещения. Те вървят навсякъде, в блокове, кооперации, халета и ресторанти.
                Унищожаването на хлебарки е труден процес както заради биологичната им устойчивост, така и поради предприети предишни мерки за отстраняването им. Честата практика на предишна, осъществявана с ред препарати домашна борба повишава устойчивостта и прави унищожаването им по-трудно. Затова се препоръчва при проблем с хлебарки да се реагира своевременно, с търсене на професионален дезинсектор.</p>
        </div>

    </div>

    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
         <div class="tab col-11 p-0 m-0 ">
             <button class="header col-12">Как се разпространяват хлебарките?</button>
             <p class="">Най-често те се разпространяват активно т.е. на собствен ход или пасивно – чрез пренасяне на багаж, хранителни продукти, електрически уреди и дори чрез залепнали по подметките ви техни яйца.</p>
         </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Как да подготвим помещенията преди пръскане против хлебарки ?</button>
            <p>Непосредствено преди да ви посетим, където е възможно, преместете мебелите на 1 см. отстояние от стените. Ако обаче са вградени към стените се пръска около и под тях и ефекта също е гарантиран.
                Задължително опразнете пространството под мивката в кухнята.
                Преместете от кухненския плот прибори, открити храни, подправки и т.н., защото е добре върху него да няма нищо, за да може хубаво да се третира и под окачените шкафове, тъй като пръскане против хлебарките вътре в тях не е нужно освен пантите и ъглите в дълбочината на шкафовете.
                При наличието на отвори към щранговете (тръбите) в банята и тоалетната е хубаво предварително да ги открехнете за да обработим и там.</p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Как протича услугата пръскане против хлебарки?</button>
            <p>Освен че пренасят зарази, хлебарките често са причинители на повреди в електроуреди и техника. Те лазят в контакти, печки, компютри, таймери, микровълнови печки и хладилници, предизвикват късо съединение и уреда изгаря. При третиране на техника, контакти, компютри и ел. съоръжения, за пръскане против хлебарки се ползва професионален точкуващ пест гел.
                В жилищни помещения пръскането против хлебарки стартира от кухните или баните. Обработват се сифони, мръсен канал, складове и мазета. С препарати за убиване на хлебарки се третират перални, места около електроуреди, ниши, мазета, мокри помещения и други рискови зони.
                При обработки на входове и кооперации, за пръскане против хлебарки започва от блоковите пространства. Обработват се мазета, общи части, ВиК, асансьорни шахти, тавани, стълби, абонатни станции и парни помещения, след което се тръгва нагоре към апартаментите.
                След първата обработка, която унищожава напълно всички възрастни форми на хлебарките, е необходимо второ третиране, след 20-24 дни, но не повече от 30-дни. Втората обработка се прави с цел пръскане против излюпените преди време от възрастните хлебарки яйца, които са полепнали навсякъде.
                Добре е да се разбере дълбоко необходимостта от втора обработка за пръскане против хлебарките. Препаратите са професионални, но трудно могат да засегнат яйцата, защото те са изключително устойчиви на въздействие. Излюпят ли се, заразата плъзва отново, в още по-голям размер. За да се свърши реално работа и да е гаранцията пълна, втората обработка е наложителна. След нея помещенията ще са защитени от хлебарки 6-7 месеца, а понякога резултатът държи и година.</p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Как да ни съдействате за постигане на по-дълготрайна защита от хлебарки.</button>
            <p>Не отмивайте препарата (може да метете или прахосмучите) минимум 7 дни след обработката, на разстояние една педя от стените – това няма да е проблем, тъй като работим с пест препарати от най-висок клас.
                Не допускайте малки деца до стените и мокрите части на пода, защото дори и най-добрите препарати не е добре да се пипат от тях поне 2-3 часа (до изсъхване).
                Ден след обработката започнете да запушвате вечерно време преди лягане с гумени или пластмасови тапи всички канали в дома си - канала на мивката в кухнята, както и този на душа в банята са най-важни.
                Възползвайте се от втората обработка, не спестявайте от това, защото при евентуално неизлюпели се яйца от хлебарки, това би ви струвало много, тъй като заразата с новоизлюпените хлебарки ще плъзне отново след месец</p>
        </div>
    </div>


    <div class="container row col-12 mb-0 m-0 p-0 container-color ">

        <div class="col-11  mt-4 mb-5 mx-auto row promotion-cards-container">
            <div class="col-10 mx-auto">
                <hr>
            </div>
            <h3 class="text-center col-12 mt-5">Цени за хлебарки</h3>
            <h5 class="col-12 text-center mt-2 mb-5">Цените в таблицата се отнасят за еднократно третиране на площи срещу хлебарки</h5>
            <div class="col-3 mt-4 d-lg-flex d-md-none d-none p-0 row mx-auto">
                <div class="col-12 information-card mx-auto col-12 p-0">
                    <div class=" col-12 insect-information-header ">
                        <h4 class="my-auto m-0 p-0 ">
                            Пръскане срещу <br>
                            <span class="insect">хлебарки</span>
                        </h4>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="information-card-text text-center mt-2">
                        <h5 class="pt-2 p-3 m-0">Квадратура</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="  text-center">
                        <h5 class="pt-2 p-3 m-0">Цена</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center m-0 p-0" > <h6 class="pt-2 p-3 m-0">Време за реакция</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center p-0 m-0"><h6 class="pt-2 p-3 mt-auto m-0">Сертификат за препарата</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="col-12 p-0 text-center"><h6 class="pt-2 p-3 m-0">Инстръктаж за превенция</h6></div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                 <div class="col-11 p-0 ">
                     <div class="col-12  image-container">
                         <img src="{{ asset("images/houses/ot-30-do-50m2.png") }}" alt="">
                     </div>
                     <div class="col-12 mt-2 area-container p-0 ">
                         <h6 class="area p-3 m-0 text-center">от 30 до 50&#13217;</h6>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">30.00лв</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">48h</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12 p-0 mx-auto">
                         <button class="btn col-12 "><a href=""  class="col-12">Повикай унищожител</a></button>
                     </div>
                 </div>
            </div>
             <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                 <div class="col-11 p-0 ">
                     <div class="col-12 image-container">
                     <img class="" src="{{ asset("images/houses/ot-51-do-70m2.png") }}" alt="">
                     </div>
                         <div class="col-12 mt-2 p-0  area-container">
                         <h6 class="area p-2 text-center p-3 m-0">от 51 до 70&#13217</h6>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">45.00лв</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">48h</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12 p-0 mx-auto">
                         <button class="btn col-12  "><a href=""  class="col-12">Повикай унищожител</a></button>
                     </div>
                 </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                 <div class="col-11 p-0">
                     <div class="col-12 image-container">
                        <img src="{{ asset("images/houses/ot-71-do-100m2.png") }}" alt="">
                     </div>
                     <div class="col-12 p-0 mt-2 area-container">
                         <h6 class="area p-2 text-center p-3 m-0">от 71 до 100&#13217</h6>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">60.00лв</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">48h</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12 row p-0 mx-auto">
                         <button class="btn col-12 "><a href=""  class="col-12">Повикай унищожител</a></button>
                     </div>
                 </div>
            </div>
            <div class="col-6 mt-4 p-0 row mx-auto justify-content-center col-lg-2 col-md-6 insect-price-information">
                 <div class="col-11 p-0">
                     <div class="col-12 image-container">
                        <img class="" src="{{ asset("images/houses/100m2.png") }}" alt="">
                     </div>
                     <div class="col-12 mt-2  p-0 area-container">
                         <h6 class="area p-2  text-center p-3 m-0">за площи над 100&#13217</h6>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">75.00лв</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0">48h</h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12">
                         <h5 class="price text-center pt-2 p-3 m-0"><i class="fas fa-check"></i></h5>
                     </div>
                     <div class="col-12 mx-auto p-0 row">
                         <button class="btn col-12 text-center"><a href="" class="col-12 text-center">Повикай унищожител</a></button>
                     </div>
                 </div>

            </div>


{#            <div class="col-3 p-0 row mx-auto">#}
{#                <div class="col-11 promotion-card mx-auto">#}
{#                    <div class="promotion text-center">#}
{#                        <h4>#}
{#                            ПРОМО#}
{#                        </h4>#}
{#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
{#                    </div>#}
{#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
{#                    <div>#}
{#                        <div class="information-container mt-3 text-center">#}
{#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
{#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
{#                        </div>#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-3 p-0 mx-auto row">#}
{#                <div class="col-11 promotion-card mx-auto">#}
{#                    <div class="promotion text-center">#}
{#                        <h4>#}
{#                            ПРОМО#}
{#                        </h4>#}
{#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
{#                    </div>#}
{#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
{#                    <div>#}
{#                        <div class="information-container mt-3 text-center">#}
{#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
{#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
{#                        </div>#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-3 p-0 mx-auto row">#}
{#                <div class="col-11 promotion-card mx-auto">#}
{#                    <div class="promotion text-center">#}
{#                        <h4>#}
{#                            ПРОМО#}
{#                        </h4>#}
{#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
{#                    </div>#}
{#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
{#                    <div>#}
{#                        <div class="information-container mt-3 text-center">#}
{#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
{#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
{#                        </div>#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml1 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: false})
            .add({
                targets: '.ml1 .letter',
                scale: [0.3,1],
                opacity: [0,1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 600,
                delay: (el, i) => 70 * (i+1)
            }).add({
            targets: '.ml1 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeOutExpo",
            duration: 700,
            offset: '-=875',
            delay: (el, i, l) => 80 * (l - i)
        })



    </script>
{% endblock %}