{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/insectInformationPage.css") }}">
    <link rel="stylesheet" href="{{ asset("css/components/promotion-card.css") }}">
{% endblock %}
{% block body %}
    <div class="container col-12 row m-0 p-0 information-system">
        <div class="col-12 m-0 p-0 row">
            <div class="col-5 col-md-3 col-lg-2  m-0 mx-auto ">
                <img src="{{ asset("images/insects/mravki.png") }}" alt="" class="insect-image">
            </div>
        </div>
        <p class="text-center col-12 call-terminator-text">повикай унищожител</p>
        <div class="phoneNumberInformation justify-content-between row col-12 m-0 p-0">
            <div class="col-3 p-0 col-md-4 col-lg-4 m-0 " ><div class="right-to-left-line"></div></div>
            <p class="ml1 col-6 p-0 col-md-4 col-lg-4 text-center ">
                <i class="fas fa-phone-alt "></i>
                <span class="text-wrapper">
                <span class="letters ">  0897 555 751</span>
              </span>
            </p>
            <div class="col-3 col-md-4 col-lg-4 p-0 m-0 ">
                <div class="left-to-right-line"></div>
            </div>
        </div>
        <h1 class="text-center col-12 mt-1"> Пръскане срещу мравки</h1>
    </div>

    <div class="information-content col-12 m-0 p-0 row mt-5 justify-content-center ">
        <div class="col-11 mx-auto col-lg-6 col-md-6 mr-2">
            <img src="{{ asset("images/disectanct/disectanct-1.jpg") }}" alt="" class="disinfectant">
        </div>
        <div class="col-11 mt-sm-4 mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-5 ml-2">
            <p>
                Пръскане против мравки се предлага като услуга по дезинсекция от Унищожители и е свързано с обработка на нападнати от мравки домашни, външни терени, заведения, хранителни обекти, магазини, производствени предприятия и други обекти за пръскане против мравуняци. Гарантираме за високо качество, дължащо се на дългогодишен опит, компетентно обслужване и най-висок клас препарати. Извършваме еднократно пръскане против мравки и мравуняци, а също сключваме и абонаментни ДДД договори отговарящи на изискванията на РЗИ (бивше ХЕИ), агенцията по храните ДВСК и наредба №3 от министерство на здравеопазването (МЗ).
                Подготовка на помещенията преди пръскане против мравки
            </p>
        </div>
    </div>

    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Какви препарати и методи използваме при пръскане против мухите?
            </button>
            <p class="">
                Работим само с най-съвременни феромони и препарати за борба с мухи, които не са канцерогенни и същевременно нанасят ударен ефект върху цялата популация, като не се налага да напускате обработените помещенията, тъй като не отделят вредни вещества във въздуха.
                Предлагаме два универсални метода за пръскане против мухи. Първият е чрез пръскане или намазване със съдържащи феромони и атрактанти препарати, които привличат тези вредни летящи насекоми, нападнатите от мухи помещения – той е по-подходящ за помещения с по-голяма площ и с високи и труднодостъпни тавани. Вторият метод е, чрез намазване, пръскане на препарати съдържащи феромони и атрактанти, които привличат тези вредни летящи насекоми и поставяне на пръскащо устройство с пълнител от вида на „ароматизатор за стена с таймер” срещу мухи. Той е изключително дискретен и ефективен и също както пръскането дава гарантирани резултати. Неговите допълнителни предимства са, че се извършва изключително лесно и има по-дълго действие във вашето жилището или търговския обект.
                <br>
                <b>Важно: За постигане на по-бърз и продължителен ефект препоръчваме при по-големите обекти да се извърши комбинация от пръскане и поставяне на пръскащо устройство с пълнител, от вида на „ ароматизатор за стена с таймер” срещу мухи.</b>
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Подготовка на помещенията преди пръскане против мравки</button>
            <p>
                При борба с мравки не е нужно да се разместват мебелите. Достатъчно е отстояние от стените от 1 см. Когато мебелите са вградени към стените, се изпръсква плътно около тях и също се постига отличен ефект.
                <br>
                В шкафа под мивката в кухнята не трябва да има нищо. Върху кухненския плот също не трябва да има прибори, открити храни и т.н. за да може по-хубаво да се изпръскат шкафчетата отвън и отвътре по пантите и ъглите в дълбочината на шкафвете. Процедура отнема около 15-30 мин. в зависимост от площта на жилището.
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Как да ни съдействате за постигане на по-дълготрайна защита от мравки?</button>
            <p class="p-3">
                Ако сте забелязали откъде минават пътеките на мравките или сте забелязали мравуняк в близост, трябва преди започване на пръскането да уведомите нашите служители. Така ефекта ще e по-бърз и продължителен.
                <br>
                Не отмивайте препарата на разстояние една педя от стените поне 48часа, но можете да метете и почиствате с прахосмукачка.
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Гаранция за качествено пръскане.</button>
            <p class="p-3">
                При пръскане против мравки, с професионалните препарати които използваме, още след първото пръскане против мравки се постига около 90% успеваемост, като в много редки случаи, когато колонията им е заселена от по-дълго време в засегнатия обект, може да се наложи повторно пръскане. Ако се наложи повторно пръскане, което се случва много рядко е добре то да се направи след две седмици от първото пръскане.
                <br>
                <b>Важно: За да се гарантира дълготраен ефект се налага изпръскване на всички помещения в засегнатия обект, тъй като мравчените колонии често прокопават миниатюрни тунели във всички помещения под паркета, первази, теракота и другите настилки. Ефекта от пръскането в повечето случаи настъпва между 3 и 14 ден в зависимост от числеността на колонията и вида на мравките.</b>
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Защо нашите препарати са максимално безвредни?</button>
            <p class="p-3">
                Използваме само най-новите пест препарати, които са с гарантиран ефект и нямат канцерогенно действие т.е. не са ракообразуващи.
                Не се налага напускане на помещенията за повече от 60 минути.
                Преди отново да влезете в жилището е достатъчно да го проветрите само за 15 минути.
                При трудно подвижни хора в обработваните помещения може да оставите прозорците открехнати докато трае пръскането – така ефекта от пръскането против мравки няма да се намали, а само ще се забави с няколко дни.
                Само деца под 2 годишна възраст и бременни жени, превантивно се налага да напуснат за около 2-3 часа третираните помещения.
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Колко време след поръчката ми ще ме посетите?</button>
            <p class="p-3">
                След обаждане и контакт, при желание за услуга пръскане против мравки, се прави предварително уточнение за място и време. Записва се максимално близък ден за третиране, в удобно за вас и съобразено с графика ни време. Специалистите ни извършват услуги по борба с всякакъв вид вредители в работно, извънработно време, работни и почивни дни.
                Имате въпрос
            </p>
        </div>
    </div>

    <div class="container row col-12 mb-0 m-0 p-0 container-color ">

        <div class="col-11  mt-4 mb-5 mx-auto row promotion-cards-container">
            <div class="col-10 mx-auto">
                <hr>
            </div>
            <h3 class="text-center col-12 mt-5">Цени за мухи</h3>
            <h5 class="col-12 text-center mt-2 mb-5">Цените в таблицата се отнасят за еднократно третиране на площи срещу хлебарки</h5>
            <div class="col-3 mt-4 d-lg-flex d-md-none d-none p-0 row mx-auto">
                <div class="col-12 information-card mx-auto col-12 p-0">
                    <div class=" col-12 insect-information-header ">
                        <h4 class="my-auto m-0 p-0 ">
                            Пръскане срещу <br>
                            <span class="insect">мухи</span>
                        </h4>
                    </div>
                    {#                    <hr class="col-10 m-0 p-0 mx-auto">#}
                    <div class="information-card-text text-center  ">
                        <h5 class="pt-2 p-3 m-0">Квадратура</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="  text-center">
                        <h5 class="pt-2 p-3 m-0">Цена</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center m-0 p-0" > <h6 class="pt-2 p-3 m-0">Време за реакция</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center p-0 m-0"><h6 class="pt-2 p-3 mt-auto m-0">Сертификат за препарата</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="col-12 p-0 text-center"><h6 class="pt-2 p-3 m-0">Инструктаж за превенция</h6></div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0 ">
                    <div class="col-12  image-container">
                        <img src="{{ asset("images/houses/ot-30-do-50m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2 area-container p-0 ">
                        <h6 class="area p-3 m-0 text-center">от 30 до 50&#13217;</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">30.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 p-0 mx-auto">
                        <button class="btn col-12 "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0 ">
                    <div class="col-12 image-container">
                        <img class="" src="{{ asset("images/houses/ot-51-do-70m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2 p-0  area-container">
                        <h6 class="area p-2 text-center p-3 m-0">от 51 до 70&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">45.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 p-0 mx-auto">
                        <button class="btn col-12  "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0">
                    <div class="col-12 image-container">
                        <img src="{{ asset("images/houses/ot-71-do-100m2.png") }}" alt="">
                    </div>
                    <div class="col-12 p-0 mt-2 area-container">
                        <h6 class="area p-2 text-center p-3 m-0">от 71 до 100&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">60.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 row p-0 mx-auto">
                        <button class="btn col-12 "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 row mx-auto justify-content-center col-lg-2 col-md-6 insect-price-information">
                <div class="col-11 p-0">
                    <div class="col-12 image-container">
                        <img class="" src="{{ asset("images/houses/100m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2  p-0 area-container">
                        <h6 class="area p-2  text-center p-3 m-0"> над 100&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">75.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 mx-auto p-0 row">
                        <button class="btn col-12 text-center"><a href="" class="col-12 text-center container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>

            </div>


            {#            <div class="col-3 p-0 row mx-auto">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-3 p-0 mx-auto row">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-3 p-0 mx-auto row">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml1 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: false})
            .add({
                targets: '.ml1 .letter',
                scale: [0.3,1],
                opacity: [0,1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 600,
                delay: (el, i) => 70 * (i+1)
            }).add({
            targets: '.ml1 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeOutExpo",
            duration: 700,
            offset: '-=875',
            delay: (el, i, l) => 80 * (l - i)
        })



    </script>
{% endblock %}