{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/insectInformationPage.css") }}">
    <link rel="stylesheet" href="{{ asset("css/components/promotion-card.css") }}">
{% endblock %}
{% block body %}
    <div class="container col-12 row m-0 p-0 information-system">
        <div class="col-12 m-0 p-0 row">
            <div class="col-5 col-md-3 col-lg-2  m-0 mx-auto ">
                <img src="{{ asset("images/insects/kyrleji.png") }}" alt="" class="insect-image">
            </div>
        </div>
        <p class="text-center col-12 call-terminator-text">повикай унищожител</p>
        <div class="phoneNumberInformation justify-content-between row col-12 m-0 p-0">
            <div class="col-3 p-0 col-md-4 col-lg-4 m-0 " ><div class="right-to-left-line"></div></div>
            <p class="ml1 col-6 p-0 col-md-4 col-lg-4 text-center ">
                <i class="fas fa-phone-alt "></i>
                <span class="text-wrapper">
                <span class="letters ">  0897 555 751</span>
              </span>
            </p>
            <div class="col-3 col-md-4 col-lg-4 p-0 m-0 ">
                <div class="left-to-right-line"></div>
            </div>
        </div>
        <h1 class="text-center col-12 mt-1"> Пръскане срещу кърлежи</h1>
    </div>

    <div class="information-content col-12 m-0 p-0 row mt-5 justify-content-center ">
        <div class="col-11 mx-auto col-lg-6 col-md-6 mr-2">
            <img src="{{ asset("images/disectanct/disectanct-1.jpg") }}" alt="" class="disinfectant">
        </div>
        <div class="col-11 mt-sm-4 mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-5 ml-2">
            <p>
                <span >Същност и борба с кърлежи: </span><br>
                Пръскане против кърлежи е метод и част от процеса по дезакаризация (унищожаване на вредни кърлежи и акари). Цялостното и трайно пръскане против кърлежи е съчетано с превантивни мерки против тях и ползване на целеви препарати за отстраняването им. Гарантираме за високо качество, дължащо се на дългогодишен опит, компетентно обслужване и най-висок клас препарати. Извършваме еднократни обработки срещу бълхи, а също сключваме и абонаментни ДДД договори отговарящи на изискванията на РЗИ (бивше ХЕИ), агенцията по храните ДВСК и наредба №3 от министерство на здравеопазването (МЗ).
             </p>
        </div>

    </div>

    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Как да подготвите преди пръскане срещу кърлежи тревните площи?</button>
            <p class="">
                <li>Преди да ви посетим окосете тревата на височина около 5 - 10 см., като ако са останали купчинки от нея трябва да ги премахнете преди да започне пръскането. Добре е върху тревните площи да няма много паднали листа или съчки.</li>
                <li>Един 1-час преди и 2 часа след пръскането против кърлежи обработената площ не трябва да се мокри.</li>
                <li>Първите дезакаризации е добре да се извършват още в началото на пролетта (март-април), когато започва и размножаването на кърлежите, а последните през късна есен.</li>
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Гаранции при пръскане против кърлежи – (акари)</button>
            <p>Преди да започне пръскане против акари откритите терени трябва да се почистят до колкото е възможно от съчки, трева и паднали листа. При третирана растителност с височина до 10 см. всички кърлежи умират до 2 часа след напръскването. При буйна трева и особено в участъци където е на купчини, ако вътре са останали единични живи индивиди, никой не може да ви даде конкретна гаранция.
                <br>
                <b>Важно: Министерство на здравеопазването препоръчва минимум два пъти годишно да се извършват пръскания на всички открити зелени площи. Ние обаче ви съветваме, ако обекта, който обитавате е много рисков т.е. в близост има бездомни животни или пък е непосредствено до поле или гора, да се пръска всеки месец за да може да се гарантира вашето спокойствие. Все пак честите валежи отмиват дори и най-качествените съвременни препарати. Важно място в борбата за пръскане против кърлежи са опита, познанието върху биологията им и превантивното пръскане в подходящо време с точния целеви препарат. С редовна обработка и профилактика, чрез професионални пест препатати, кърлежите се отстраняват трайно от зелените площи и терени в рисковия сезон.</b>
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Какви опасности крият кърлежите и как достигат до нас?</button>
            <p class="p-3">
                <li>Кърлежите са най-опасните насекоми в България, тъй като са преносители и причинители на най-много смъртоносни заболявания за човека: Лаймска болест, Ку-треска, Марсилска треска, Кърлежови енцефалити, Туларемия и Кримска-конго хеморагична треска. - Тези кръвосмучещи насекоми паразитират както върху хора, така и върху редица животни – котки, кучета, плъхове, мишки, гълъби, коне, крави, овце и др.</li>
                <li>През последните години зачестиха ухапванията от кърлежи освен в селските райони и в по-големите градове. Това се дължи до голяма степен на бездомните котки и кучета, а също и на множеството гълъби населяващи част от тавански помещения. Понякога акарите достигат до нас и чрез мишките и плъховете, които обитават лошо стопанисваните мазета и тавани на жилищните сгради.</li>
                <br>
                <b>Внимание: Винаги когато се разхождате в зони с по-висока растителност внимавайте, защото там може да има кърлежи! При наличие на акар върху вас не проявявайте прибързани самоинициативи, а задължително се консултирайте с лекар. Следете внимателно състоянието си поне 20 дни след отстраняване на насекомото. Общоизвестен факт е, че за някои от болестите пренасяни от акари, ако не бъдат взети навременни мерки, могат до доведат до фатален край, заради това не отстранявайте кърлежа собственоръчно, а се доверете на специалист. Тези съвети не са случайни, заради това не ги подценявайте.
                </b>
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Какви са методите и начините за извършване и пръскане против кърлежи върху тревните площи?</button>
            <p>
                Пръскането против кърлежи се извършва с ръчна, моторна техника, атомизатори или машинни агрегати, в зависимост от условията на терена. За пръскане против кърлежите е необходимо масивно опръскване на цялата зелена площ. Прилагат се по преценка професионални препарати с бърз унищожаващ ефект, убиващи на момента живите форми на кърлежите.
            </p>
        </div>
    </div>


    <div class="container row col-12 mb-0 m-0 p-0 container-color ">

        <div class="col-11  mt-4 mb-5 mx-auto row promotion-cards-container">
            <div class="col-10 mx-auto">
                <hr>
            </div>
            <h3 class="text-center col-12 mt-5">Цени за кърлежи</h3>
            <h5 class="col-12 text-center mt-2 mb-5">Цените в таблицата се отнасят за еднократно третиране на площи срещу хлебарки</h5>
            <div class="col-3 mt-4 d-lg-flex d-md-none d-none p-0 row mx-auto">
                <div class="col-12 information-card mx-auto col-12 p-0">
                    <div class=" col-12 insect-information-header ">
                        <h4 class="my-auto m-0 p-0 ">
                            Пръскане срещу <br>
                            <span class="insect">кърлежи</span>
                        </h4>
                    </div>
                    {#                    <hr class="col-10 m-0 p-0 mx-auto">#}
                    <div class="information-card-text text-center  ">
                        <h5 class="pt-2 p-3 m-0">Квадратура</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="  text-center">
                        <h5 class="pt-2 p-3 m-0">Цена</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center m-0 p-0" > <h6 class="pt-2 p-3 m-0">Време за реакция</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center p-0 m-0"><h6 class="pt-2 p-3 mt-auto m-0">Сертификат за препарата</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="col-12 p-0 text-center"><h6 class="pt-2 p-3 m-0">Инструктаж за превенция</h6></div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0 ">
                    <div class="col-12  image-container">
                        <img src="{{ asset("images/houses/ot-30-do-50m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2 area-container p-0 ">
                        <h6 class="area p-3 m-0 text-center">от 30 до 50&#13217;</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">30.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 p-0 mx-auto">
                        <button class="btn col-12 "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0 ">
                    <div class="col-12 image-container">
                        <img class="" src="{{ asset("images/houses/ot-51-do-70m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2 p-0  area-container">
                        <h6 class="area p-2 text-center p-3 m-0">от 51 до 70&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">45.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 p-0 mx-auto">
                        <button class="btn col-12  "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0">
                    <div class="col-12 image-container">
                        <img src="{{ asset("images/houses/ot-71-do-100m2.png") }}" alt="">
                    </div>
                    <div class="col-12 p-0 mt-2 area-container">
                        <h6 class="area p-2 text-center p-3 m-0">от 71 до 100&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">60.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 row p-0 mx-auto">
                        <button class="btn col-12 "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 row mx-auto justify-content-center col-lg-2 col-md-6 insect-price-information">
                <div class="col-11 p-0">
                    <div class="col-12 image-container">
                        <img class="" src="{{ asset("images/houses/100m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2  p-0 area-container">
                        <h6 class="area p-2  text-center p-3 m-0"> над 100&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">75.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 mx-auto p-0 row">
                        <button class="btn col-12 text-center"><a href="" class="col-12 text-center container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>

            </div>


            {#            <div class="col-3 p-0 row mx-auto">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-3 p-0 mx-auto row">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-3 p-0 mx-auto row">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml1 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: false})
            .add({
                targets: '.ml1 .letter',
                scale: [0.3,1],
                opacity: [0,1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 600,
                delay: (el, i) => 70 * (i+1)
            }).add({
            targets: '.ml1 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeOutExpo",
            duration: 700,
            offset: '-=875',
            delay: (el, i, l) => 80 * (l - i)
        })



    </script>
{% endblock %}