{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/insectInformationPage.css") }}">
    <link rel="stylesheet" href="{{ asset("css/components/promotion-card.css") }}">
{% endblock %}
{% block body %}
    <div class="container col-12 row m-0 p-0 information-system">
        <div class="col-12 m-0 p-0 row">
            <div class="col-5 col-md-3 col-lg-2  m-0 mx-auto ">
                <img src="{{ asset("images/insects/styrsheli.png") }}" alt="" class="insect-image">
            </div>
        </div>
        <p class="text-center col-12 call-terminator-text">повикай унищожител</p>
        <div class="phoneNumberInformation justify-content-between row col-12 m-0 p-0">
            <div class="col-3 p-0 col-md-4 col-lg-4 m-0 " ><div class="right-to-left-line"></div></div>
            <p class="ml1 col-6 p-0 col-md-4 col-lg-4 text-center ">
                <i class="fas fa-phone-alt "></i>
                <span class="text-wrapper">
                <span class="letters ">  0897 555 751</span>
              </span>
            </p>
            <div class="col-3 col-md-4 col-lg-4 p-0 m-0 ">
                <div class="left-to-right-line"></div>
            </div>
        </div>
        <h1 class="text-center col-12 mt-1"> Пръскане срещу стършели</h1>
    </div>

    <div class="information-content col-12 m-0 p-0 row mt-5 justify-content-center ">
        <div class="col-11 mx-auto col-lg-6 col-md-6 mr-2">
            <img src="{{ asset("images/disectanct/disectanct-1.jpg") }}" alt="" class="disinfectant">
        </div>
        <div class="col-11 mt-sm-4 mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-5 ml-2">
            <p>
                <span >Същност и борба с стършелите: </span><br>
                След уточняване и първоначална диагностика, при вас ще дойде специалист от фирмата, който ще направи оглед на място и ще пристъпи към обработката за пръскане против стършелите. За третирането не е необходима предварителна подготовка от страна на клиента, всичко се поема от професионалиста. Дотогава избягвайте гнездото за ваша безопасност.

                Понякога клиентът пита дали ще се справим с проблема. Може да не се съмнявате, че ще се справим. Професионалистите ни са тясно специализирани в пръскане против стършели, жилещи насекоми и отстраняване на гнездата им. Борбата със стършели е нехарактерна и тясна дейност, в която обаче имаме богата професионална практика, с пълен резултат.

                След пристигане на професионалиста, терена се оглежда и се пристъпва към действие. Гнездата на стършелите се пръскат с професионални препарати, с моментално убиващо действие. Наличните наоколо и вътре стършели измират на секундата, при възможност гнездото се отстранява моментално и проблемът е приключен, често с еднократно пръскане против стършели. Клиента трябва да следи на следващия ден за потенциална активност, но такава обичайно не се случва.

                Понякога, ако гнездото е невъзможно да се отстрани на момента, поради факта, че е гъсто населено с вредители и препарата, не може да достигне в дълбочина до тях или гнездото е много навътре в стените и стенните пукнатини на къщата. Може да се наложи повторна обработка. При дълбинно проникване, естествено не се бута къщата, а се третира отново. След второто третиране, проблемът със стършелите за сезона остава в миналото.

                Често клиенти, живеещи близо до водни басейни, гори и планини, с големи в съседство популации стършели желаят профилактична обработка. Тя може да бъде направена в началото на сезона, в зависимост от обстановката. Стършелите не са жилищни насекоми, те идват от 5-8 км., затова не може да се говори наизуст че няма да прелетят пак. Борбата е трудна, но задължителна и се прави както при инцидентно заселване, така и с профилактика.
            </p>
        </div>

    </div>

    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Какви са рисковете ако сами извършвате пръскане против стършели?</button>
            <p class="">Унищожаването на, стършели както и всички други жилище насекоми като, стършели, търтей и т.н. е една от най - рискованите услуги които извършваме, тъй като те често стават раздразнителни когато бъдат обезпокоени.
                <br>
                <b>Внимание: Моля бъдете много предпазливи, ако решите сами да извършите пръскане против стършели или други жилещи насекоми във вашия дом или търговски обект, тъй като много хора са алергични към ужилване от стършели и понякога може да се случи най-лошото, ако не бъдат предприети на време нужните предпазни мерки.</b></p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Характерни черти на стършели и идентификация за успешно пръскане против стършели</button>
            <p>Преди да пристъпим към пръскане против стършелите, при първия контакт ние ще уточним размера на проблема, задавайки въпроси за диагностика. Понякога жилещите вредители се бъркат с стършели или пчели. Най-често клиентите са сигурни, че нападателите са стършели, виждат ги как излизат от комина, от хралупата на дървото или направената скоро къщичка за птици.

                Типични характерни разлики на стършелите, в сравнение с осите е размера на гнездата им. Гнездото на осата е малко, то стига размерите на футболна топка или човешка глава. Стършелите изграждат огромни гнезда, които в естествени условия достигат размерите на бъчва. Гнездата приютяват една голяма майка, която всички хранят и още хиляди стършели.

                Подобно гнездото на осите, тези на стършелите не са изработени от восък като пчелните. Стършелите преработват дървесината и градят жилището си от нея. Макар здрави, гнездата са почти изцяло целулозни. Голяма грешка е, в желание да унищожите стършелите, да запалите тяхното гнездо, защото то ще пламне като факла и може да изпепели цялата къща. Вместо това много по ефикасен е метода за пръскане против стършели.

                Стършелите обичат спокойни, южни райони, далеч от населени къщи, с шумотевица и присъствие на много хора. Те си търсят естествени извори на храна и вода в гората и по правило не нападат човешки ресурси. Точно затова се откриват рядко в града, за разлика от селски райони, къщи и вили, където са диви, големи, и доста по-опасни в атаките си.

                Стършелите не обръщат внимание на хора, освен ако не ги плашат или са близо до гнездата им. За разлика от нахалната оса, която ще кацне на масата, върху пържолата или ще падне в лимонадата ви, стършелът избягва човека и опитва да стои далеч от него. Нападнете ли обаче гнездо на стършели, семейството ще се събере, атакувайки агресора бързо и решително.
            </p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Специфични места за стършелови гнезда?</button>
            <p>Стършелите са жилещи насекоми, живеещи в гнезда. Те са от едно семейство с осите и пчелите, но са по-големи от тях, достигайки 3 см. дължина. У нас ще срещнем Европейския стършел, който се храни главно с плодове и нектар.

                Стършелите живеят предимно сред природата и градят гнездата си върху дървета и хралупи. Засегнати от тях обичайно са извънградски райони, особено къщи, близки до гора, планини и овошки, както и предградските квартали. В постройки и сгради, стършелите закачат гнездата си в комини, под керемиди, навеси и най-вече греди. Ще ги намерите под навеси на стопански постройки, складови помещения, слабо обитаеми къщи и вили. Почти във всяка изоставена къща на село или в гората има стършелово гнездо.

                Стършелът е голямо и здраво жилещо насекомо. Сравнен с осата, той е двойно по-голям, с костеливо като орех тяло. Жилата на стършелите са силни, много здрави и пробиват сериозни прегради. Подобно осите, те жилят многократно, но отровата им е далеч по-токсична. При ужилване от стършел трябва да се потърси спешна лекарска помощ, особено при алергия.</p>
        </div>
    </div>
    <div class="tabs col-12 m-0 p-0 justify-content-center row mt-5 mb-5">
        <div class="tab col-11 p-0 m-0 ">
            <button class="header col-12">Колко време след поръчката ми ще ме посетите?</button>
            <p>След обаждане и контакт, при желание за услуга пръскане против стършели, се прави предварително уточнение за място и време. Записва се максимално близък ден за третиране, в удобно за вас и съобразено с графика ни време. Специалистите ни извършват услуги по пръскане против всякакъв вид вредители в работно, извънработно време, работни и почивни дни.</p>
        </div>
    </div>


    <div class="container row col-12 mb-0 m-0 p-0 container-color ">

        <div class="col-11  mt-4 mb-5 mx-auto row promotion-cards-container">
            <div class="col-10 mx-auto">
                <hr>
            </div>
            <h3 class="text-center col-12 mt-5">Цени за стършели</h3>
            <h5 class="col-12 text-center mt-2 mb-5">Цените в таблицата се отнасят за еднократно третиране на площи срещу хлебарки</h5>
            <div class="col-3 mt-4 d-lg-flex d-md-none d-none p-0 row mx-auto">
                <div class="col-12 information-card mx-auto col-12 p-0">
                    <div class=" col-12 insect-information-header ">
                        <h4 class="my-auto m-0 p-0 ">
                            Пръскане срещу <br>
                            <span class="insect">стършели</span>
                        </h4>
                    </div>
                    {#                    <hr class="col-10 m-0 p-0 mx-auto">#}
                    <div class="information-card-text text-center  ">
                        <h5 class="pt-2 p-3 m-0">Квадратура</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="  text-center">
                        <h5 class="pt-2 p-3 m-0">Цена</h5>
                    </div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center m-0 p-0" > <h6 class="pt-2 p-3 m-0">Време за реакция</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="text-center p-0 m-0"><h6 class="pt-2 p-3 mt-auto m-0">Сертификат за препарата</h6></div>
                    <hr class="col-10 m-0 p-0 mx-auto">
                    <div class="col-12 p-0 text-center"><h6 class="pt-2 p-3 m-0">Инструктаж за превенция</h6></div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0 ">
                    <div class="col-12  image-container">
                        <img src="{{ asset("images/houses/ot-30-do-50m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2 area-container p-0 ">
                        <h6 class="area p-3 m-0 text-center">от 30 до 50&#13217;</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">30.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 p-0 mx-auto">
                        <button class="btn col-12 "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0 ">
                    <div class="col-12 image-container">
                        <img class="" src="{{ asset("images/houses/ot-51-do-70m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2 p-0  area-container">
                        <h6 class="area p-2 text-center p-3 m-0">от 51 до 70&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">45.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 p-0 mx-auto">
                        <button class="btn col-12  "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 col-lg-2 justify-content-center col-md-6 row mx-auto insect-price-information">
                <div class="col-11 p-0">
                    <div class="col-12 image-container">
                        <img src="{{ asset("images/houses/ot-71-do-100m2.png") }}" alt="">
                    </div>
                    <div class="col-12 p-0 mt-2 area-container">
                        <h6 class="area p-2 text-center p-3 m-0">от 71 до 100&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">60.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 row p-0 mx-auto">
                        <button class="btn col-12 "><a href=""  class="col-12 container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4 p-0 row mx-auto justify-content-center col-lg-2 col-md-6 insect-price-information">
                <div class="col-11 p-0">
                    <div class="col-12 image-container">
                        <img class="" src="{{ asset("images/houses/100m2.png") }}" alt="">
                    </div>
                    <div class="col-12 mt-2  p-0 area-container">
                        <h6 class="area p-2  text-center p-3 m-0"> над 100&#13217</h6>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0">75.00лв</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none">48h</h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12">
                        <h5 class="price text-center pt-2 p-3 m-0 d-lg-block d-md-none d-none"><i class="fas fa-check"></i></h5>
                    </div>
                    <div class="col-12 mx-auto p-0 row">
                        <button class="btn col-12 text-center"><a href="" class="col-12 text-center container"><p class="p-0 m-0">Повикай унищожител</p></a></button>
                    </div>
                </div>

            </div>


            {#            <div class="col-3 p-0 row mx-auto">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-3 p-0 mx-auto row">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-3 p-0 mx-auto row">#}
            {#                <div class="col-11 promotion-card mx-auto">#}
            {#                    <div class="promotion text-center">#}
            {#                        <h4>#}
            {#                            ПРОМО#}
            {#                        </h4>#}
            {#                        <h6>ЕТАЖНА СОБСТВЕНОСТ</h6>#}
            {#                    </div>#}
            {#                    <div class="price text-center"><h3 class="mt-3">45 ЛВ.</h3></div>#}
            {#                    <div>#}
            {#                        <div class="information-container mt-3 text-center">#}
            {#                            <p class="old-price">стара цена: <span>80 лв.</span></p>#}
            {#                            <p class="information">При заявка за абонаментно тримесечно третиране срещу хлебарки на общи части включващи: стълбища + мазета + абонатна станция, ако има такава + асансьорна шахта и партерна площадка</p>#}
            {#                        </div>#}

            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml1 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: false})
            .add({
                targets: '.ml1 .letter',
                scale: [0.3,1],
                opacity: [0,1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 600,
                delay: (el, i) => 70 * (i+1)
            }).add({
            targets: '.ml1 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeOutExpo",
            duration: 700,
            offset: '-=875',
            delay: (el, i, l) => 80 * (l - i)
        })



    </script>
{% endblock %}